<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        REMOVE ITEM {{items[0].name}}
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <h5>Are you sure?</h5>
    </div>
        <div class="modal-footer">
          <button type="button" (click)="onDelete()" class="btn btn-danger">Yes</button>
          <button type="button" class="btn btn-secondary" (click)="d('No click')">No</button>
        </div>
  </ng-template>
<li class="nav-item">
    <a class="nav-link" (click)="open(content)" href=# [ngClass]="(choice>0)?'active':'disabled'">Remove Item</a>
</li>
